/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://rsms.me/inter/inter-ui.css');

html { font-family: 'Inter UI', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter UI var alt', sans-serif; }
}

@media (min-width: 48em) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 16px;
  }
}

.post-meta {
  margin-bottom: 0.5em;
}

.post-body {
  font-size: 1.2em;
}

.tag-size-1 { font-size: 1.1em; color: #0068d8; }
.tag-size-2 { font-size: 1.2em; color: #0055b1; }
.tag-size-3 { font-size: 1.3em; color: #004289; }
.tag-size-4 { font-size: 1.4em; color: #002f62; }
.tag-size-5 { font-size: 1.5em; color: #001c3b; }

/*
 * Sign in page
 */
 .form-signin, .form-password-reset {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .form-password-reset-heading {
  margin-bottom: 10px;
  float:left;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin {
  .checkbox { padding: 10px 20px; }
  .checkbox { font-weight: normal; }
  .forgot { padding-top: 20px; }
  .form-control:focus { z-index: 2; }

  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}


